@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.background{
    width: 100%;
    position: relative;
}

.flare{
    position: absolute;
    width: 70vh;
    background: linear-gradient(rgb(30, 151, 231), rgb(50, 147, 207), rgb(37, 226, 219));
    filter: blur(150px);
    height: 30vh;
    z-index: -2;
}

.flex-container{
    display: flex;
    width: 100%;
}

.main-container{
    margin-left: 3%;
    margin-top: 1%;
    overflow: hidden;
}

.greeting-container{
    display: flex;
    width: 40%;
}
.profile-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.greeting-primary{
    padding-top: 0.5em;
    font-size: 2rem;
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(20) 0.3s 1;
    transition: all ease;
}

@keyframes typewriter {
    0% {
      width: 0;
    }
    100% {
      width: 100%; /* The width of the element */
    }
  }

.carousel-container{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 1em;
    height: 35vh;
    z-index: 15;
}
.navigation-btn{
    width: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.artist-container{
    display: flex;
    width: 87%;
    margin: 1em;
    height: 30vh;
}

.heading{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin: 0.4em;
}