
.sidebar-container{
    width: 20%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: black;
}


.sidebar-items{
    display: flex;
    margin: 0.40em;
    flex-direction: column;
}
.sidebar-buttons{
    display: flex;
    align-items: center;
    margin: 0.15em;
    padding: 0.75em 1em;
    text-align: left;
}

.sidebar-text{
    font-size: 1.1rem;
    margin: 0px;
    padding-left: 5px;
}

.horizontal-bar{
    margin: 2em 1em;
}

.sidebar-new{
    margin: 0.40em;
    display: flex;
}

.sidebar-new > .sidebar-buttons{
    width: 88%;
    border-radius: 12rem;
    padding: 0.50em;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:1100px) {
    .sidebar-text{
        display: none;
    }
    .sidebar-buttons{
        width: 70%;
    }
    .sidebar-items{
        align-items: center;
    }
    .sidebar-new{
        align-items: center;
        justify-content: center;
    }
    .sidebar-new > .sidebar-buttons{
        width: 70%;
    }
}